header{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  align-content: stretch;
  background-image: url('../images/header_bg.png');
  background-color: #D99820;
  margin-bottom: 1em;
}
.avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  
}
header img{
  max-width: 70%;
  max-height: auto;
}
header h2{
  margin: 0;
  color: #ffffff;
}
header span{
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: 1024px){
  header{
    height: 400px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/header_bg.png');
    background-color: #D99820;
    margin-left: auto;
  }
}

/* @media (min-width:768px) and (max-width: 1024px){
  
} */