nav {
  position: fixed;
  top: 0; 
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

nav span {
  margin: 0 1.5em 0 1.5em;
}

.nav-right {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav i{
  color:#F03C1F
}
