nav {
  position: fixed;
  top: 0; 
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

nav span {
  margin: 0 1.5em 0 1.5em;
}

.nav-right {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

nav i{
  color:#F03C1F;
  font-size: 0.8em; 
}

nav i:hover{
  animation: bounce 0.6s ease-in-out infinite;
}

@keyframes bounce {
  0% {transform: translateY(0);}
  20% {transform: translateY(1px);}
  /* 40% {transform: translateY(2px);} */
  60% {transform: translateY(3px);}
  /* 80% {transform: translateY(4px);} */
	100% {transform: translateY(5px);}
}

