.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  margin-bottom: 2em;
}

#tweet-text{
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
  background: transparent;
  border-bottom: 3px solid black;
  
}
.new-tweet-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
  margin-top: 0.5em;
}

.new-tweet-footer button {
  border: none;
  border-radius: 3px;
  background-color: #4052A1;
  color: #FFFFFF;
  padding: 0.3em 0.5em;
}

.tweet-error{
  /* display: none; */
  background-color: rgba(255,0,0, 0.5);
  border-radius: 5px;
  
}