article.tweet {
  border: 3px solid;
  padding: 1.2em;
  display: flex;
  flex-direction: column;
}
.header{
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.header_left{
  width: 100%;
}
.header .name{
  margin-left: 0.3em;
}
.header .id{
  color: #D0D1CF;
}

.tweet-footer{
  border-top: 3px solid;
  font-size: 0.7em;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
}
.tweet-footer_icons{
  width: 5em;
  color:#4052A1;
  display: flex;
  justify-content: space-between;
}