article.tweet {
  border: 3px solid;
  padding: 1em;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
article.tweet:hover{
  box-shadow: 0.3em 0.3em #D0D1CF;
  
}
.header{
  display: flex;
  justify-content: space-between;
}
.header_left{
  width: 100%;
}
.header .name{
  margin-left: 0.3em;
}
.header .id{
  color: #D0D1CF;
}
.tweet-content {
  font-weight: 600;
}
.tweet-footer{
  border-top: 3px solid;
  font-size: 0.7em;
  padding: 0.6em 1.5em 0;
  display: flex;
  justify-content: space-between;
}
.tweet-footer_icons{
  width: 5em;
  color:#4052A1;
  display: flex;
  justify-content: space-between;
}
.tweet-footer_icons i:hover{
  cursor: pointer;
  color:#D99820;
}